<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Skills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="contenido" >
<ion-card>
  <p class="ion-text-center">
    Tecnologías:
  </p>
  <div class="elementos">
  <img src="../../assets/images/python.png">
  <img src="../../assets/images/java.png">
  <img src="../../assets/images/mysql.png">
</div>
<br>
<div class="elementos">
  <img src="../../assets/images/js.png">
  <img src="../../assets/images/angular.png">
  <img src="../../assets/images/ionic.png">
</div>
<br>
<div class="elementos">
  <img src="../../assets/images/node.png">
  <img src="../../assets/images/ts.png">
  <img src="../../assets/images/php.svg">
</div>
<br>
<div class="hr"></div>
<p class="ion-text-center">Competencias:</p>
<div>
  
  <ion-list>
    <ion-item>
      <span>UX/UI</span>
    </ion-item>  
    <ion-item>
    <span>Tratamiento de datos</span>
  </ion-item>  
  <ion-item>
    <span>Usabilidad</span>
  </ion-item>  
  <ion-item><span>Proramación de servicios</span></ion-item>  
  <ion-item><span>Desarrollo accesible</span></ion-item>  
</ion-list>
</div>
<div>
  <p class="ion-text-center">Otros:</p>
  <ion-list>
    <ion-item>
      <span>Compromiso</span>
    </ion-item>  
    <ion-item>
      <span>Resolución de conflictos</span>
    </ion-item>  
    <ion-item>
      <span>Motivación</span>
    </ion-item>  
    <ion-item><span>Trabajo en equipo</span></ion-item>  
    <ion-item><span>Carné de conducir y coche propio</span></ion-item>  
  </ion-list>
</div>
</ion-card>
</ion-content>
