<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Educación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <div class="elementos">
    <img src="../../assets/images/campusfp.png"> 
    <strong>Desarrollo de aplicaciones Multiplataforma, Madrid, 2020-2022</strong>
  </div>
  <div class="hr"></div>
  <div class="elementos">
    <img src="../../assets/images/ironhack-1.svg">
    <strong>Web Development Bootcamp IronHack Madrid, 2018</strong>
  </div>
  <div class="hr"></div>
  <div class="elementos">
    <img src="../../assets/images/claret3.png"> 
    <strong>Bachillerato Claret Las Palmas 2014-2016</strong>
  </div>
  
</ion-card>
<ion-card>
  <ion-card-subtitle>Idiomas</ion-card-subtitle>
  <div class="elementos">
    <img src="../../assets/images/spain.png">
    <strong>Español nativo</strong>
  </div>
  <div class="hr"></div>
<div class="elementos">
  <img src="../../assets/images/ingles.jpeg">
  <strong>Inglés nivel B2</strong>
</div>
</ion-card>
</ion-content>
