.elementos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}
.elementos img{
    width: 25%;
}
.elementos strong{
    color: black;
}
.hr {
    border-bottom: 1px solid #ccc;
    margin:0 auto;
    width: 90%;
  }
