<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Educación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-subtitle>Escolar</ion-card-subtitle>
  <div id="primero">
    <img src="../../assets/images/claret3.png"> 
    <strong>Bachillerato Claret Las Palmas 2014-2016</strong>
  </div>
  <div class="hr"></div>
  <div id="segundo">
    <img src="../../assets/images/campusfp.png"> 
    <strong>Desarrollo de aplicaciones Multiplataforma 2020-2022</strong>
  </div>
</ion-card>
</ion-content>
