<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Formación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="contenido">
<ion-card>
  <p class="ion-text-center" id="academico">Académico</p>
  <div class="elementos">
    <img src="../../assets/images/campusfp.png"> 
    <strong>Desarrollo de aplicaciones Multiplataforma, Madrid, 2020-2022</strong>
  </div>
  <div class="hr"></div>
  <div class="elementos">
    <img src="../../assets/images/ironhack-1.svg">
    <strong>Web Development Bootcamp IronHack Madrid, 2018</strong>
  </div>
  <div class="hr"></div>
  <div class="elementos">
    <img src="../../assets/images/claret3.png"> 
    <strong>Bachillerato Claret Las Palmas 2014-2016</strong>
  </div>
  
</ion-card>
<ion-card>
  <p class="ion-text-center">Idiomas</p>
  <div class="elementos">
    <img src="../../assets/images/spain.png">
    <strong>Español nativo</strong>
    <ion-badge slot="end" style="background-color:#099761;">10/10</ion-badge>
  </div>
  <div class="hr"></div>
<div class="elementos">
  <img src="../../assets/images/ingles.jpeg">
  <strong>Inglés nivel B2</strong>
  <ion-badge slot="end" style="background-color:#099761;">9/10</ion-badge>
</div>
</ion-card>
</ion-content>
