

<ion-content [fullscreen]="true">
  <div id="container"></div>
  <div id="nombre-titulo">
    <div id="circle"></div>
    <p id="nombre" class="ion-text-center">Enrique Hernández Segura</p>
  </div>
  <ion-card id="elementos">
    <span id="titulo">
      Estudiante Desarollo de Aplicaciones Multiplataforma
    </span>

    <div id="iconos">
      <div class="sub-iconos">
        <div class="sub-sub-iconos">
          <ion-icon name="calendar"></ion-icon>
          <span>1 de Octubre,1998</span>
        </div>
        <div class="sub-sub-iconos"><ion-icon name="home"></ion-icon><span>Madrid,España</span></div>
      </div>
      <div class="sub-iconos">
        <div class="sub-sub-iconos">
          <ion-icon name="call"></ion-icon><a href="callto:+34616939340">+34 616 93 93 40</a>
        </div>
        <div class="sub-sub-iconos">
          <ion-icon name="mail"></ion-icon><a href="mailto:enh3se@gmail.com">enh3se@gmail.com</a>
        </div>      </div>
    </div>
    <div class="hr"></div>
    <div id="resumen">
      <p>
        Trabajador con hambre de conocimiento, creativo y muy ambicioso. Buen
        compañero, si hay algo en lo que puedo ayudar a otro lo haré ya sea en
        conocimiento como en habilidades
      </p>
    </div>
  </ion-card>
  <div id="botones">
    <a routerLink="/edu" routerDirection="forward">
      <ion-card>
        <img src="../../assets/images/education-24.png"/>
        <p>Formación</p>
      </ion-card>
    </a>
    <a routerLink="/sk" routerDirection="forward">
      <ion-card>
        <img src="../../assets/images/star4.png"/>
        <p>Skills</p>
      </ion-card>
    </a>
  </div>
</ion-content>
